<h1><%=tag.name%></h1>

<h4>Articles associated with #<%= tag.name %></h4>
<% tag.articles.forEach(function (article) { %>
    <div>
        <a href="/articles/<%= article.id %>"><%= article.title %></a>
    </div>
<% }); %>
    <a href="/tags/edit/<%=tag.id%>" class="btn btn-warning edit-btn">Edit</a>
    <a href="/tags/<%=tag.id%>" class="btn btn-danger delete-btn">Delete</a>
